@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");

.App {
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}

.transactionsComp li {
  list-style-type: none;
  text-align: left;
  border-bottom: 2px solid rgb(209, 209, 209);
  margin-top: 10%;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  width: 35vw;
}

.indexContainer {
  margin-top: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detailsContainer {
  display: flex;
  justify-content: center;
  margin-left: 35%;
  margin-top: 3%;
  margin-right: 35%;
  flex-direction: column;
}

.budgetCard {
  display: flex;
  padding: 5%;
  text-align: left;
  flex-direction: column;
  border: 3px solid rgb(77, 77, 77);
  border-radius: 5px;
  font-size: 25px;
  background-color: rgb(233, 245, 233);
}

.detailButtons {
  display: flex;
  flex-direction: row;
  padding: 14%;
}

.newFormContainer {
  display: flex;
  flex-direction: column;
  
}

.newFormButton {
  margin: 2%;
}
